/*
* {
    border-style: dashed;
}
*/
body {
    height: 100vh;
    margin: 0; 
    overflow: visible;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.container1 {
    padding: 20px 200px 100px 200px;
    background-image: url("./images/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: aliceblue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: gainsboro;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
}

.welcome {
    font-size: 48px;
    font-weight: bolder;
    color: aliceblue;
}

.subwelcome {
    font-size: 18px;
    color: gainsboro;
}

.sign-up1 {
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    background-color: #3882F6;
    color: white;
}

.topimage {
    width: 450px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

/*CONTAINER 2*/
.container2 {
    background-image: /*url("./images/bordeaux.jpeg"),*/ url("./images/black.png");
    background-repeat: repeat;
    background-color: rgb(95, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px 100px 200px;
    gap: 40px;
    flex: 1;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: darkgoldenrod;
}

.content2 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-images {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 16px;
    border-color: goldenrod;
    border-width: 4px;
}

.textbox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color:darkgoldenrod;
}

/*CONTAINER3*/
.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 100px 200px 80px 200px;
    background-color: #E5E7EB;
    flex: 1;
}

.content3 {
    max-width: 800px;
    color:rgb(87, 87, 88);
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    width: 800px;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

/*CONTAINER4*/
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
}

.content4 {
    width: 1000px;
    padding: 40px 80px;
    background-color: #3882F6;
    color: aliceblue;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px
}

.discover {
    font-weight: bold;
    font-size: 24px;
}

.sign-up2 {
    font-size: 18px;
}

.sign-up3 {
    width: 145px;
    height: 40px;
    background-color: #3882F6;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
}

/*FOOTER*/
.footer {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
}
